/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  line-height: 1.5;
}
.top-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  flex-direction: column;
  text-align: center;
  color: white;
}
.top-content h1 {
  font-size: 3rem;
}
.top-content p {
  font-size: 1rem;
}
.card-font-size {
  font-size: 1rem;
}
.image-sizing {
  overflow: hidden;
  background-size: cover;
  background-position: center;
}
.home-images {
  color: white;
  font-weight: bold;
}
nav {
  background-color: #584b45;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
}
nav a {
  color: white;
  text-decoration: none;
}
nav a:hover {
  color: black;
}
nav .button {
  background-color: #49ad63;
  border-radius: 19px;
  border: 2px solid #18ab29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 24px 31px;
  text-decoration: none;
  text-shadow: 0px 0px 26px #2f6627;
}
nav .button .button:hover {
  background-color: #5cbf2a;
}
nav .button .button:active {
  position: relative;
  top: 1px;
}
section {
  display: flex;
  align-content: center;
  justify-content: center;
}
section .aboutimage {
  margin: 15px;
  width: 75%;
  height: 75%;
}
section .miley {
  width: 75%;
  height: 75%;
  margin-left: 50px;
  margin-right: 50px;
}
.aboutUs {
  color: green;
  font-size: 75px;
  background: bisque;
  display: flex;
  justify-content: center;
}
.us {
  color: green;
  font-size: 25px;
  background: bisque;
  display: flex;
  justify-content: center;
}
.section1 {
  background: bisque;
}
footer {
  background-color: #584b45;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
}
footer a {
  color: white;
  text-decoration: none;
}
footer a:hover {
  color: black;
}
footer a:hover:nth-child(5) {
  color: blue;
}
.contact-page-top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  flex-direction: column;
  text-align: center;
  color: white;
  background-image: url(../images/chef.jpg);
  overflow: hidden;
  background-size: cover;
  background-position: center;
}
.contact-page-top h1 {
  font-size: 3rem;
}
.contact-page-top p {
  font-size: 1rem;
}
.contact-cards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5%;
}
@media (max-width: 500px) {
  .contact-cards {
    display: block;
  }
}
.contact-cards div {
  padding: 3%;
  margin: 0 3%;
  border: 1px groove bisque;
  border-radius: 5%;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 500px) {
  .contact-cards div {
    margin-bottom: 3%;
  }
}
.contact-cards div h1 {
  font-size: 2rem;
  color: green;
}
.contact-cards div p {
  font-size: 1rem;
}
.contact-cards div button {
  background-color: green;
  color: white;
  border-radius: 15%;
  margin: 5% 0 5% 0;
}
.home-page-top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  flex-direction: column;
  text-align: center;
  color: white;
  background-image: url(../images/food.jpg);
  overflow: hidden;
  background-size: cover;
  background-position: center;
}
.home-page-top h1 {
  font-size: 3rem;
}
.home-page-top p {
  font-size: 1rem;
}
.home-headings {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}
.home-headings h1 {
  color: green;
  font-size: 3rem;
}
.featured-recipes {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media (max-width: 500px) {
  .featured-recipes {
    display: block;
  }
}
.featured-recipes div {
  overflow: hidden;
  background-size: cover;
  background-position: center;
  color: white;
  font-weight: bold;
  padding: 5%;
  background-image: url(../images/hamburger.jpg);
  margin: 1%;
  border-radius: 2%;
}
.featured-recipes div h1 {
  font-size: 2rem;
}
.featured-recipes div p {
  font-size: 1rem;
}
.popular-categories {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 3%;
}
.popular-categories div {
  background-image: url(../images/food.jpg);
  overflow: hidden;
  background-size: cover;
  background-position: center;
  color: white;
  font-weight: bold;
  padding: 5%;
  margin: 3%;
  width: 20%;
  border-radius: 2%;
}
@media (max-width: 500px) {
  .popular-categories div {
    width: 100%;
    margin: 1%;
  }
}
.popular-categories div h1 {
  font-size: 2rem;
}
.popular-categories div p {
  font-size: 1rem;
}
@media only screen and (max-width: 500px) {
  Body {
    text-align: center;
  }
}
