/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.top-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
  height: 400px;
  flex-direction: column;
  border: 2px solid black;
}
.top-content h1 {
  font-size: 3rem;
}
.top-content p {
  font-size: 1rem;
}
.recipes {
  border: 2px solid black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.card-font-size h1 {
  font-size: 1rem;
}
.card-font-size p {
  font-size: 0.5rem;
}
nav {
  background-color: #584b45;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
}
nav li {
  list-style: none;
}
nav li a {
  color: white;
  text-decoration: none;
}
.contact-page-top {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
  height: 400px;
  flex-direction: column;
  border: 2px solid black;
}
.contact-page-top h1 {
  font-size: 3rem;
}
.contact-page-top p {
  font-size: 1rem;
}
.contact-cards {
  border: 2px solid black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5%;
}
.contact-cards h1 {
  font-size: 1rem;
}
.contact-cards p {
  font-size: 0.5rem;
}
.home-page-top {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
  height: 400px;
  flex-direction: column;
  border: 2px solid black;
}
.home-page-top h1 {
  font-size: 3rem;
}
.home-page-top p {
  font-size: 1rem;
}
.home-headings {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}
.featured-recipes {
  border: 2px solid black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.featured-recipes div {
  padding: 5%;
}
.featured-recipes div h1 {
  font-size: 1rem;
}
.featured-recipes div p {
  font-size: 0.5rem;
}
.popular-categories {
  border: 2px solid black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 3%;
}
.popular-categories div {
  padding: 5%;
  margin: 3%;
  width: 20%;
  border: 1px solid blue;
}
.popular-categories div h1 {
  font-size: 1rem;
}
.popular-categories div p {
  font-size: 0.5rem;
}
@media only screen and (max-width: 500px) {
  Body {
    text-align: center;
  }
}
