.top-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  flex-direction: column;
  text-align: center;
  color: white;
}
.top-content h1 {
  font-size: 3rem;
}
.top-content p {
  font-size: 1rem;
}
.card-font-size {
  font-size: 1rem;
}
.image-sizing {
  overflow: hidden;
  background-size: cover;
  background-position: center;
}
.home-images {
  color: white;
  font-weight: bold;
}
