.section1{
display: flex;
justify-content: center;
align-content: center;
    .aboutimage{
        margin:15px;
        width: 200px;
        height: 200px;
    }
    
}
.aboutUs{
    color:green;
    font-size:75px;
    
    display: flex;
    justify-content: center;
}
.us{
    color:green;
    font-size:25px;
    
    display: flex;
    justify-content: center;
}


footer{
    background-color: #584b45;
    .flex(space-evenly, center);
    height: 100px;
    a {
        color: white;
        text-decoration: none;
    }
    a:hover {
        color: black;
    }
    a:hover:nth-child(5) {
        color:blue;
    }
}

@media (max-width: 500px){
    .section1{
        flex-direction: column;

    }
}//end


@media (min-width:500px){
    .section1 p{
        margin:35px;
    }
}
