.contact-page-top {
    .top-content;
    background-image: url(../images/chef.jpg);
    background-repeat: round;
}

.contact-cards {
    .flex(space-evenly, center);
    padding: @container-padding;
    div {
        margin: 0 3%;
        .flex(center, center);
        flex-direction: column;
        h1 {
            font-size: @card-h1;
            color: @card-heading-color;
        }
        p {
            font-size: @card-p;
        }
        button {
            background-color: green;
            color: white;
            border-radius: 15%;
        }
    }
}