.home-page-top {
    .top-content;

}

.home-headings {
    text-align: center;
    margin-top: @home-headings-margin;
    margin-bottom: @home-headings-margin;
}

.featured-recipes {
    .flex(space-evenly, center);
    div {
        padding: @container-padding;
        h1 {
            font-size: @card-h1;
        }
        p {
            font-size: @card-p;
        }
    }
}

.popular-categories {
    .flex(space-evenly, center);
    flex-wrap: wrap;
    margin: 3%;
    div {
        padding: @container-padding;
        margin: 3%;
        width: 20%;
        border: 1px solid blue;
        h1 {
            font-size: @card-h1;
        }
        p {
            font-size: @card-p;
        }
    }
}