.home-page-top {
    .top-content;

}

.home-headings {
    text-align: center;
    margin-top: @home-headings-margin;
    margin-bottom: @home-headings-margin;
}

.featured-recipes {
    .recipes;
    div {
        padding: @container-padding;
        .card-font-size;
    }
}

.popular-categories {
    .recipes;
    flex-wrap: wrap;
    margin: 3%;
    div {
        padding: @container-padding;
        margin: 3%;
        width: 20%;
        border: 1px solid blue;
        .card-font-size;
    }
}