.flex(@justify, @align) {
    display: flex;
    justify-content: @justify;
    align-items: @align;
}

.top-content {
    .flex(center, center);
    height: 400px;
    flex-direction: column;
    text-align: center;
    color: white;
    h1 {
        font-size: 3rem;
    }
    p {
        font-size: 1rem;
    }
}

.card-font-size {
    font-size: 1rem;  
};

.image-sizing {
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.home-images {
    color: white;
    font-weight: bold;
}