nav {
    background-color: #584b45;
    .flex(space-evenly, center);
    height: 100px;
    a {
        color: white;
        text-decoration: none;
    }
    a:hover {
        color: black;
    }
    a:hover:nth-child(5) {
        color:blue;
    }
}