nav {
    background-color: #584b45;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    li {
        list-style: none;
        a {
            color: white;
            text-decoration: none;
        }
        
    }
}